apiVersion: cube.io/v1alpha1
kind: BuildConfig
metadata:
  name: nodejs-8
  namespace: templates
spec:
  baseImage:
  cloneConfig:
    branch: master
    dstDir: /opt/app-root/src
    url:
  codeType: nodejs
  compileCmd:
  - Script: npm install
    execType: script
  - Script: npm run build:dev
    execType: script
  - commandName: pwd
  deployData:
    Envs:
      APP_PROFILES_ACTIVE: local
      CODE_TYPE: nodejs
      DOCKER_API_VERSION: "1.24"
      npm_config_disturl: https://npm.taobao.org/dist/
      npm_config_electron_mirror: https://npm.taobao.org/mirrors/electron/
      npm_config_phantomjs_cdn: https://npm.taobao.org/dist/phantomjs/
      npm_config_sass_binary_site: https://npm.taobao.org/mirrors/node-sass/
    HostPathVolume:
      /var/lib/docker: /var/lib/docker
      /var/run/docker.sock: /var/run/docker.sock
    Ports:
    - 8080
    - 7575
    Replicas: 1
  dockerAuthConfig:
    password: Harbor12345
    username: unused
  dockerFile:
  - FROM docker.vpclub.cn/hidevopsio/base-nodejs:8.12-alpine-0.0.1
  - COPY ./dist ${APP_ROOT}/dist
  - USER 1001
  - EXPOSE 8080
  - CMD ["http-server", "dist"]
  dockerRegistry: docker-registry-default.app.vpclub.io
  events:
  - createService
  - deployNode
  - clone
  - compile
  - buildImage
  - pushImage
status:
  lastVersion: 1
