apiVersion: cube.io/v1alpha1
kind: DeploymentConfig
metadata:
  annotations:
  name: node
  namespace: {{ .Values.namespace }}
spec:
  dockerRegistry: {{ .Values.buildconfig.dockerRegistry }}
  env:
  - name: TZ
    value: Asia/Shanghai
  envType:
  - remoteDeploy
  - deploy
  fromRegistry: {{ .Values.buildconfig.fromRegistry }}
  port:
  - containerPort: 8080
    name: http-8080
    protocol: TCP
  - containerPort: 8085
    name: http-8085
    protocol: TCP
  profile: dev
status:
  lastVersion: 1

