apiVersion: v1
kind: Service
metadata:
  name: {{ include "cube.fullname" . }}
  namespace: hidevopsio
  labels:
    app.kubernetes.io/name: {{ include "cube.name" . }}
    helm.sh/chart: {{ include "cube.chart" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: 8080
    name: http-8080
  - port: 7575
    protocol: TCP
    name: grpc-7575
  selector:
    app.kubernetes.io/name: {{ include "cube.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
