apiVersion: cube.io/v1alpha1
kind: BuildConfig
metadata:
  name: go-mod
  namespace: hidevopsio
spec:
  app: ""
  baseImage: hidevops/base-go:v1.1.1
  cloneConfig:
    branch: ""
    dstDir: /opt/app-root/src
    password: ""
    url: ""
    username: ""
  cloneType: ""
  codeType: go
  compileCmd:
  - commandName: pwd
  - Script: GOOS=linux go build -mod vendor  -o app
    execType: script
  - commandName: pwd
  - Script: ls
    execType: script
  deployData:
    envs:
      CODE_TYPE: go
      DOCKER_API_VERSION: "1.24"
      GOPROXY:
    hostPathVolumes:
    - name: "docker"
      volumeSource: /var/lib/docker
      readOnly: true
      mountPath: /var/lib/docker
      subPath:
    - name: "docker-sock"
      volumeSource: /var/run/docker.sock
      readOnly: true
      mountPath: /var/run/docker.sock
      subPath:
    ports:
    - 8080
    - 7575
    replicas: 1
  dockerFile:
  - FROM clarechu/base-go:v1.0.0
  - ENV  TZ="Asia/Shanghai"
  - COPY ./app ${APP_BIN}
  - COPY ./config ${APP_ROOT}/config
  - CMD ["app"]
  tasks:
  - name: createService
  - name: deployNode
  - name: clone
  - name: compile
  - name: buildImage
  - name: pushImage
  - name: deleteDeployment
status:
  lastVersion: 1

