apiVersion: v1
items:
- apiVersion: cube.io/v1alpha1
  kind: PipelineConfig
  metadata:
    name: go
    namespace: hidevopsio
  spec:
    app: ""
    dockerRegistry: ""
    events:
    - eventTypes: build
      name: go
    - eventTypes: deploy
      name: go
    - eventTypes: service
      name: go
    - eventTypes: gateway
      name: go
    profile: dev
    version: v1
    branch: "master"
  status: {}
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""

