apiVersion: cube.io/v1alpha1
kind: ServiceConfig
metadata:
  labels:
    profile: dev
  name: go
  namespace: hidevopsio
spec:
  ports:
  - name: http-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: grpc-7575
    port: 7575
    protocol: TCP
    targetPort: 7575
status:
  metadata: {}
